/* COMMON RULES */
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
p {
  margin: 0;
  padding-bottom: 5px;
}

/* Header */
.header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 50px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.container {
  width: 50%;
  border-bottom: solid lightgrey 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px 20px 20px;
}
/* Inside sections */
.content-left {
  margin-right: 20px;
}
.right-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.right-column > div {
  font-size: 12px;
}
.right-column span {
  display: inline-block;
  width: 50px;
}
